<aside>
  <h3>UI Elements</h3>
  <ul>
    <li><a routerLink='./color' routerLinkActive="active">Colors</a></li>
    <li><a routerLink='./typography' routerLinkActive="active">Typography</a></li>
    <li><a routerLink='./form' routerLinkActive="active">Form Elements</a></li>
    <li><a routerLink='./lists' routerLinkActive="active">Lists</a></li>
    <li><a routerLink='./tabs' routerLinkActive="active">Tabs</a></li>
    <li><a routerLink='./filter' routerLinkActive="active">Filter</a></li>
    <li><a routerLink='./accordion' routerLinkActive="active">Accordion</a></li>
    <li><a routerLink='./tables' routerLinkActive="active">Tables</a></li>
    <li><a routerLink='./datepicker' routerLinkActive="active">Date Picker</a></li>
    <li><a routerLink='./icons' routerLinkActive="active">Icons</a></li>
    <li><a routerLink='./helper-class' routerLinkActive="active">Helper Class</a></li>
    <li><a routerLink='./layout' routerLinkActive="active">Layout</a></li>
  </ul>
</aside>
<article>
<router-outlet></router-outlet>
</article>