<h1>Tabs</h1>
<tabs-component>
  <tab-component [tabTitle]="'Tab 1'">This is a sample tab component 1</tab-component>
  <tab-component tabTitle="Tab 2">This is a sample tab component 2</tab-component>
</tabs-component>

<code>
  <strong>HTML:</strong><br>
  &lt;tabs-component&gt;<br>
    &nbsp; &nbsp; &lt;tab-component [tabTitle]="'Tab 1'"&gt;This is a sample tab component 1&lt;/tab-component&gt;<br>
    &nbsp; &nbsp; &lt;tab-component tabTitle="Tab 2"&gt;This is a sample tab component 2&lt;/tab-component&gt;<br>
  &lt;/tabs-component&gt;
</code>