<section id='my-app'>
   <!-- Top Status Bar -->
   <dbs-header></dbs-header>
   <div class="page-container-wrapper">
      <div class="page-container">
         <router-outlet></router-outlet>
      </div>
   </div>
   <!-- <footer>
      <div class="group left-group">
      </div>
      <div class="group right-group">
         <ul>
            <li><a target="_blank" href="http://www.dbs.com/security/Pages/default.aspx" data-i18n="footer.guideline">Security Guidelines</a></li>
            <li><a target="_blank" href="http://www.dbs.com/terms/Pages/default.aspx" data-i18n="footer.terms">Terms &amp; Conditions</a></li>
            <li><span data-i18n="footer.copyright">© 2016 DBS Bank Ltd</span></li>
         </ul>
      </div>
   </footer> -->
</section>