<h1>Filter component</h1>
<div>
  <div>
    <label>Search:</label>
    <filter-component>
      <filter-item-component filterTitle="test">
        <label>test</label>
      </filter-item-component>
      <filter-item-component filterTitle="test1">
        <label>test1</label>
      </filter-item-component>
      <filter-item-component filterTitle="test2">
        <label>test2</label>
      </filter-item-component>
      <filter-item-component filterTitle="test3">
        <label>test3</label>
      </filter-item-component>
      <filter-item-component filterTitle="test4">
        <label>test4</label>
      </filter-item-component>
    </filter-component>
    <br>
    <br>
    <code>
      <strong>HTML:</strong><br>
      &lt;filter-component&gt;<br><br>
        &nbsp; &lt;filter-item-component filterTitle="test"&gt;<br>
        &nbsp;&nbsp;  &lt;label&gt;test&lt;/label&gt;<br>
        &nbsp; &lt;/filter-item-component&gt;<br><br>
        &nbsp; &lt;filter-item-component filterTitle="test1"&gt;<br>
        &nbsp;&nbsp;  &lt;label&gt;test1&lt;/label&gt;<br>
        &nbsp; &lt;/filter-item-component&gt;<br><br>
        &nbsp; &lt;filter-item-component filterTitle="test2"&gt;<br>
        &nbsp;&nbsp;  &lt;label&gt;test2&lt;/label&gt;<br>
        &nbsp; &lt;/filter-item-component&gt;<br><br>
        &nbsp; &lt;filter-item-component filterTitle="test3"&gt;<br>
        &nbsp;&nbsp;  &lt;label&gt;test3&lt;/label&gt;<br>
        &nbsp; &lt;/filter-item-component&gt;<br><br>
        &nbsp; &lt;filter-item-component filterTitle="test4"&gt;<br>
        &nbsp;&nbsp;  &lt;label&gt;test4&lt;/label&gt;<br>
        &nbsp;&lt;/filter-item-component&gt;<br><br>
      &lt;/filter-component&gt;<br>
    </code>
  </div>
</div>
