<header>
  <div class="header-wrapper">
    <div class="logo">
      <div class="nav-icon"><span class="dbs-logo"></span></div>
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink='/' routerLinkActive="active">Coding Guidelines</a>
        </li>
        <li>
          <a routerLink='/ui-elements' routerLinkActive="active">UI Elements</a>
        </li>
        <li>
          <a routerLink='/login' routerLinkActive="active">Login</a>
        </li>
        <li>
          <a routerLink='/dashboard' routerLinkActive="active">DashBoard</a>
        </li>
      </ul>
    </nav>
    <div class="logout">
      <button class="btn btn-dbs-link">Logout</button>
    </div>
  </div>
</header>