<h1>Layout</h1>
<p>The framework uses a 12 column layout grid. Each <strong>row</strong> should consists of columns adding up to maximum 12.</p>
<div class="row">
  <div class="column col-1 bg-silver">
    <div class="component-wrapper">
      <p>1</p>
    </div>
  </div>
  <div class="column col-1 bg-silver">
    <div class="component-wrapper">
      <p>2</p>
    </div>
  </div>
  <div class="column col-1 bg-silver">
    <div class="component-wrapper">
      <p>3</p>
    </div>
  </div>
  <div class="column col-1 bg-silver">
    <div class="component-wrapper">
      <p>4</p>
    </div>
  </div>
  <div class="column col-1 bg-silver">
    <div class="component-wrapper">
      <p>5</p>
    </div>
  </div>
  <div class="column col-1 bg-silver">
    <div class="component-wrapper">
      <p>6</p>
    </div>
  </div>
  <div class="column col-1 bg-silver">
    <div class="component-wrapper">
      <p>7</p>
    </div>
  </div>
  <div class="column col-1 bg-silver">
    <div class="component-wrapper">
      <p>8</p>
    </div>
  </div>
  <div class="column col-1 bg-silver">
    <div class="component-wrapper">
      <p>9</p>
    </div>
  </div>
  <div class="column col-1 bg-silver">
    <div class="component-wrapper">
      <p>10</p>
    </div>
  </div>
  <div class="column col-1 bg-silver">
    <div class="component-wrapper">
      <p>11</p>
    </div>
  </div>
  <div class="column col-1 bg-silver">
    <div class="component-wrapper">
      <p>12</p>
    </div>
  </div>
</div>
<code>
<strong>HTML:</strong><br>
&lt;div class="row"&gt;<br>
&nbsp; &nbsp; &lt;div class="column col-1 bg-silver"&gt;<br>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="component-wrapper"&gt;<br>
&nbsp; &nbsp; &nbsp; &nbsp; &lt;p&gt;1&lt;/p&gt;
&nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;<br>
&nbsp; &nbsp; &lt;/div&gt;<br>
&lt;/div&gt;
</code>
<p>Below are the more commonly used column combinations</p>
<div class="row">
  <div class="column col-3 bg-silver">
    <div class="component-wrapper">
      <p>Compulsory class: .column</p>
      <p>Width definitive class: .col-3</p>
      <p>Component wrapper controls padding, column controls background color</p>
    </div>
  </div>
  <div class="column col-9 bg-chrome">
    <div class="component-wrapper">
      <p>Compulsory class: .column</p>
      <p>Width definitive class: .col-9</p>
      <p>Component wrapper controls padding, column controls background color</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="column col-4 bg-silver">
    <div class="component-wrapper">
      <p>Compulsory class: .column</p>
      <p>Width definitive class: .col-4</p>
      <p>Component wrapper controls padding, column controls background color</p>
    </div>
  </div>
  <div class="column col-8 bg-chrome">
    <div class="component-wrapper">
      <p>Compulsory class: .column</p>
      <p>Width definitive class: .col-8</p>
      <p>Component wrapper controls padding, column controls background color</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="column col-6 bg-silver">
    <div class="component-wrapper">
      <p>Compulsory class: .column</p>
      <p>Width definitive class: .col-6</p>
      <p>Component wrapper controls padding, column controls background color</p>
    </div>
  </div>
  <div class="column col-6 bg-chrome">
    <div class="component-wrapper">
      <p>Compulsory class: .column</p>
      <p>Width definitive class: .col-6</p>
      <p>Component wrapper controls padding, column controls background color</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="column col-4 bg-silver">
    <div class="component-wrapper">
      <p>Compulsory class: .column</p>
      <p>Width definitive class: .col-4</p>
      <p>Component wrapper controls padding, column controls background color</p>
    </div>
  </div>
  <div class="column col-4 bg-chrome">
    <div class="component-wrapper">
      <p>Compulsory class: .column</p>
      <p>Width definitive class: .col-4</p>
      <p>Component wrapper controls padding, column controls background color</p>
    </div>
  </div>
  <div class="column col-4 bg-silver">
    <div class="component-wrapper">
      <p>Compulsory class: .column</p>
      <p>Width definitive class: .col-4</p>
      <p>Component wrapper controls padding, column controls background color</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="column col-3 bg-silver">
    <div class="component-wrapper">
      <p>Compulsory class: .column</p>
      <p>Width definitive class: .col-3</p>
      <p>Component wrapper controls padding, column controls background color</p>
    </div>
  </div>
  <div class="column col-3 bg-chrome">
    <div class="component-wrapper">
      <p>Compulsory class: .column</p>
      <p>Width definitive class: .col-3</p>
      <p>Component wrapper controls padding, column controls background color</p>
    </div>
  </div>
  <div class="column col-3 bg-silver">
    <div class="component-wrapper">
      <p>Compulsory class: .column</p>
      <p>Width definitive class: .col-3</p>
      <p>Component wrapper controls padding, column controls background color</p>
    </div>
  </div>
  <div class="column col-3 bg-chrome">
    <div class="component-wrapper">
      <p>Compulsory class: .column</p>
      <p>Width definitive class: .col-3</p>
      <p>Component wrapper controls padding, column controls background color</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="column col-3 bg-silver">
    <div class="component-wrapper">
      <p>Compulsory class: .column</p>
      <p>Width definitive class: .col-3</p>
      <p>Component wrapper controls padding, column controls background color</p>
    </div>
  </div>
  <div class="column col-6 bg-chrome">
    <div class="component-wrapper">
      <p>Compulsory class: .column</p>
      <p>Width definitive class: .col-6</p>
      <p>Component wrapper controls padding, column controls background color</p>
    </div>
  </div>
  <div class="column col-3 bg-silver">
    <div class="component-wrapper">
      <p>Compulsory class: .column</p>
      <p>Width definitive class: .col-3</p>
      <p>Component wrapper controls padding, column controls background color</p>
    </div>
  </div>
</div>