/* 
    _color.scss
    Imported to: main.css
    These are styles specific to the colors used.
    These classnames can be added to any component styles to define it's background color.
*/

.bg-dbsred {
  background: $dbsred !important;
}

.bg-rouge {
  background: $rouge !important;
}

.bg-nero {
  background: $nero !important;
}

.bg-charcoal {
  background: $charcoal !important;
}

.bg-storm {
  background: $storm !important;
}

.bg-chrome {
  background: $chrome !important;
}

.bg-silver {
  background: $silver !important;
}

.bg-canvas {
  background: $canvas !important;
}

.bg-white {
  background: $white !important;
}

.bg-marine {
  background: $marine !important;
}

.bg-rainforest {
  background: $rainforest !important;
}

.bg-pine {
  background: $pine !important;
}

.bg-sunshine {
  background: $sunshine !important;
}

.bg-treasuresgold {
  background: $treasuresgold !important;
}

.bg-tpcplatinum {
  background: $tpcplatinum !important;
}

.bg-pbplatinum {
  background: $pbplatinum !important;
}

.bg-posbblue {
  background: $posbblue !important;
}

.bg-posbyellow {
  background: $posbyellow !important;
}