<h1>Typography</h1>
<p>These are the default typography styles for DBS Ideal. Further customisation to these styles should be added on component level.</p>
<h3>Headings</h3>
<h1>Heading 1</h1>
<code>
<strong>HTML:</strong><br>
&lt;h1&gt;Heading 1&lt;/h1&gt;
<br><br>
<strong>SCSS:</strong><br>
h1 {{ '{' }}<br>
&nbsp; &nbsp; font-size: em(32);<br>
&nbsp; &nbsp; font-family: $font-family;<br>
&nbsp; &nbsp; font-weight: $font-weight-medium;<br>
&nbsp; &nbsp; line-height: (32/32);<br>
{{ '}' }}
<br><br>
<strong>CSS:</strong><br>
h1 {{ '{' }}<br>
&nbsp; &nbsp; font-size: 32px;<br>
&nbsp; &nbsp; font-family: 'FrutigerNextPro', Arial, Helvetica, sans-serif;<br>
&nbsp; &nbsp; font-weight: 500;<br>
&nbsp; &nbsp; line-height: 32px;<br>
{{ '}' }}
</code>
<h2>Heading 2</h2>
<code>
<strong>HTML:</strong><br>
&lt;h1&gt;Heading 2&lt;/h1&gt;
<br><br>
<strong>SCSS:</strong><br>
h2 {{ '{' }}<br>
&nbsp; &nbsp; font-size: em(24);<br>
&nbsp; &nbsp; font-family: $font-family;<br>
&nbsp; &nbsp; font-weight: $font-weight-light;<br>
&nbsp; &nbsp; line-height: (24/24);<br>
{{ '}' }}
<br><br>
<strong>CSS:</strong><br>
h2 {{ '{' }}<br>
&nbsp; &nbsp; font-size: 32px;<br>
&nbsp; &nbsp; font-family: 'FrutigerNextPro', Arial, Helvetica, sans-serif;<br>
&nbsp; &nbsp; font-weight: 400;<br>
&nbsp; &nbsp; line-height: 35px;<br>
{{ '}' }}
</code>
<h3>Heading 3</h3>
<code>
<strong>HTML:</strong><br>
&lt;h3&gt;Heading 3&lt;/h3&gt;
<br><br>
<strong>SCSS:</strong><br>
h3 {{ '{' }}<br>
&nbsp; &nbsp; font-size: em(16);<br>
&nbsp; &nbsp; font-family: $font-family;<br>
&nbsp; &nbsp; font-weight: $font-weight-bold;<br>
&nbsp; &nbsp; line-height: (20/16);<br>
{{ '}' }}
<br><br>
<strong>CSS:</strong><br>
h3 {{ '{' }}<br>
&nbsp; &nbsp; font-size: 24px<br>
&nbsp; &nbsp; font-family: 'FrutigerNextPro', Arial, Helvetica, sans-serif;<br>
&nbsp; &nbsp; font-weight: 600<br>
&nbsp; &nbsp; line-height: 20px<br>
{{ '}' }}
</code>
<h4>Heading 4</h4>
<code>
<strong>HTML:</strong><br>
&lt;h4&gt;Heading 4&lt;/h4&gt;
<br><br>
<strong>SCSS:</strong><br>
h4 {{ '{' }}<br>
&nbsp; &nbsp; font-size: em(16);<br>
&nbsp; &nbsp; font-family: $font-family;<br>
&nbsp; &nbsp; font-weight: $font-weight-medium;<br>
&nbsp; &nbsp; line-height: (20/16);<br>
{{ '}' }}
<br><br>
<strong>CSS:</strong><br>
h4 {{ '{' }}<br>
&nbsp; &nbsp; font-size: 16px<br>
&nbsp; &nbsp; font-family: 'FrutigerNextPro', Arial, Helvetica, sans-serif;<br>
&nbsp; &nbsp; font-weight: 500<br>
&nbsp; &nbsp; line-height: 20px<br>
{{ '}' }}
</code>
<h5>Heading 5</h5>
<code>
<strong>HTML:</strong><br>
&lt;h5&gt;Heading 5&lt;/h5&gt;
<br><br>
<strong>SCSS:</strong><br>
h5 {{ '{' }}<br>
&nbsp; &nbsp; font-size: em(14);<br>
&nbsp; &nbsp; font-family: $font-family;<br>
&nbsp; &nbsp; font-weight: $font-weight-bold;<br>
&nbsp; &nbsp; line-height: (16/14);<br>
{{ '}' }}
<br><br>
<strong>CSS:</strong><br>
h5 {{ '{' }}<br>
&nbsp; &nbsp; font-size: 14px;<br>
&nbsp; &nbsp; font-family: 'FrutigerNextPro', Arial, Helvetica, sans-serif;<br>
&nbsp; &nbsp; font-weight: 600;<br>
&nbsp; &nbsp; line-height: 16px;<br>
{{ '}' }}
</code>
<h6>Heading 6</h6>
<code>
<strong>HTML:</strong><br>
&lt;h6&gt;Heading 6&lt;/h6&gt;
<br><br>
<strong>SCSS:</strong><br>
h6 {{ '{' }}<br>
&nbsp; &nbsp; font-size: em(14);<br>
&nbsp; &nbsp; font-family: $font-family;<br>
&nbsp; &nbsp; font-weight: $font-weight-light;<br>
&nbsp; &nbsp; line-height: (16/14);<br>
{{ '}' }}
<br><br>
<strong>CSS:</strong><br>
h6 {{ '{' }}<br>
&nbsp; &nbsp; font-size: 14px;<br>
&nbsp; &nbsp; font-family: 'FrutigerNextPro', Arial, Helvetica, sans-serif;<br>
&nbsp; &nbsp; font-weight: 400;<br>
&nbsp; &nbsp; line-height: 20px;<br>
{{ '}' }}
</code>
<h3>Body Copy</h3>
<p>Neque sequi laborum id necessitatibus minus eveniet illo doloremque maiores dicta aperiam. Deserunt quod, veritatis labore adipisci doloremque minus, voluptatem maxime voluptatibus?</p>
<p>Neque sequi laborum id necessitatibus minus eveniet illo doloremque maiores dicta aperiam. Deserunt quod, veritatis labore adipisci doloremque minus, voluptatem maxime voluptatibus?</p>
<code>
<strong>HTML:</strong><br>
&lt;p&gt;Neque sequi laborum id necessitatibus minus eveniet illo doloremque maiores dicta aperiam. Deserunt quod, veritatis labore adipisci doloremque minus, voluptatem maxime voluptatibus?&lt;/p&gt;
<br><br>
<strong>SCSS:</strong><br>
p {{ '{' }}<br>
&nbsp; &nbsp; font-size: em(16);<br>
&nbsp; &nbsp; font-family: $font-family;<br>
&nbsp; &nbsp; font-weight: $font-weight-light;<br>
&nbsp; &nbsp; line-height: (20/16);<br>
&nbsp; &nbsp; margin: 0 0 32px;<br>
{{ '}' }}
<br><br>
<strong>CSS:</strong><br>
p {{ '{' }}<br>
&nbsp; &nbsp; font-size: 16px;<br>
&nbsp; &nbsp; font-family: 'FrutigerNextPro', Arial, Helvetica, sans-serif;<br>
&nbsp; &nbsp; font-weight: 400;<br>
&nbsp; &nbsp; line-height: 20px;<br>
&nbsp; &nbsp; margin: 0 0 32px;<br>
{{ '}' }}
</code>
<h3>Horizontal Rule</h3>
<hr>
<code>
<strong>HTML:</strong><br>
&lt;hr&gt;
<br><br>
<strong>SCSS:</strong><br>
hr {{ '{' }}<br>
&nbsp; &nbsp; border: 0;<br>
&nbsp; &nbsp; height: 1px;<br>
&nbsp; &nbsp; background: $canvas;<br>
{{ '}' }}
<br><br>
<strong>CSS:</strong><br>
hr {{ '{' }}<br>
&nbsp; &nbsp; border: 0;<br>
&nbsp; &nbsp; height: 1px;<br>
&nbsp; &nbsp; background: #f7f7f7;<br>
{{ '}' }}
</code>