input {
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
}
.icon-calendar {
  position: absolute;
  right: 9px;
  top: 9px;
  width: 18px;
  height: 18px;
}
.dbs-datepicker {
  position: relative;
}